extends layout

block content
  #container
    #content
      #current
        img.thumbnail
        .info
          marquee.title
          .description
          button.vote 이곡은 별로에요 ㅠㅠ
        include volumeControl
    #playlist
      h3 Playlist
      img#searchOpen(width="30px", height="30px", src="/images/ico-add.png")
      ul
  include search
