doctype html
html
  head
    title MUSIC PLAYER
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src='/javascripts/cookie.js')
    script(src='/javascripts/music-player.js')
    script(src='/javascripts/search.js')
