body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

#content {
  width: 100%;
  border: 1px solid #ebedec;
  padding: 10px;
}

#container h3 {
  font-style: italic;
  margin: 0 0 5px 0;
}

#container ul {
  margin: 0;
}

#current {
  position: relative;
}

#current .thumbnail{
  float: left;
  width: 50px;
  height: 50px;
}

#current .info {
  float: left;
  width: 230px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#current::after {
  display: block;
  clear: both;
  content: ' ';
}

#current .info .title {
  color: #808080;
  font-size: 14px;
}

#current .info .description {
  color: #adabac;
  font-size: 12px;
  max-height: 80px;
  overflow: auto;
}

input#playId {
  height: 20px;
  width: 240px;
  margin-right: 5px;
}

#playlist {
  position: relative;
  width: 100%;
  height: 350px;
  border: 1px solid #ebedec;
  padding: 10px;
}

#playlist #searchOpen {
  position: absolute;
  right: 10px;
  top: 5px;
}

#playlist ul {
  display: block;
  height: 280px;
  border: 1px solid #ebedec;
  list-style: none;
  margin-top: 15px;
  padding: 5px;
  overflow: hidden;
  overflow-y: auto;
}

#playlist li {
  line-height: 22px;
  height: 22px;
  overflow: hidden;
}

#guide {
  margin-top: 10px;
  width: 100%;
}

#volume-control {
  display: inline-block;
  float: right;
}

#volume-control img {
  position: relative;
  top: 5px;
}

#volume-control #volume {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  position: relative;
  width: 5px;
  height: 60px;
  display: block;
  margin: 0 auto;
}



#searchLayout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.5);
}

#searchContainer {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
}

#searchContainer #close {
  position: absolute;
  top: -35px;
  right: 0;
}

#searchWrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #edebec;
}

#searchWrapper #searchText {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

#searchWrapper #searchBtn {
  width: 30px;
  height: 30px;
  background: none;
  padding: 0;
  border: 0;
}

#searchBtn img {
  width: 100%;
  height: 100%;
}

#searchResult {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 15px;
  right: 15px;
  overflow: hidden;
  overflow-y: auto;
}

#searchResult li {
  position: relative;
  padding-left: 90px;
  height: 70px;
}

#searchResult li .thumbnailWrapper {
  position: absolute;
  left: 0;
  width: 80px;
  height: 60px;
}

#searchResult li .thumbnailWrapper img {
  width: 100%;
  height: 100%;
}

 #searchResult li .thumbnailWrapper .duration {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0,0,0,0.6);
  color: #fff;
}

#searchResult li .contentDetail .title {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#searchResult li .contentDetail .channelTitle {
  font-size: 10px;
  margin-bottom: 5px;
}

#searchResult #loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 120px;
  margin-left: -25px;
}
